<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="tools" type="TopazVideoLab2.ToolsSection, TopazVideoLab2" />
		<section name="paths" type="TopazVideoLab2.PathsSection, TopazVideoLab2" />
	</configSections>

	<tools>
		<TopazFfmpeg path="c:\Program Files\Topaz Labs LLC\Topaz Video AI\ffmpeg.exe"/>
		<Avs2Yuv path="c:\Stuff\avs2yuv64.exe"/>
		<VirtualDub64 path="c:\Program Files\VirtualDub2\VirtualDub.exe"/>
	</tools>

	<paths>
		<ModelDataDir path="C:\ProgramData\Topaz Labs LLC\Topaz Video AI\models\"/>
		<ModelDir path="C:\ProgramData\Topaz Labs LLC\Topaz Video AI\models"/>
	</paths>

</configuration>